<!DOCTYPE html>
<html>
    <head>
    {% load static %}
    <link href="{% static "css/estilo.css" %}" rel="stylesheet">
        <title>Gerador de Senhas</title>
    </head>
    <body>
    <h1 style="text-align: center; font-size: 60px;">Exigências de Senha</h1>
        <form action="{% url 'senha' %}" style="padding-left: 35%; font-size: 30px;">
            Quantidade
            <select name="tamanho" style="font-size: 20px;">
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12" selected="selected">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
            </select>
            de Caracteres.
            <br>
            <input type="checkbox" name="uppercase"> Uppercase
            <br>
            <input type="checkbox" name="numeros"> Numeros
            <br>
            <input type="checkbox" name="especial"> Caracteres Especiais
            <br><br>
            <input type="submit" value="Gerar Senha" style="font-size: 20px">
        </form>
    </body>
</html>